
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: rgb(237, 237, 237);
  }

  body,
    h1,h2,h3,h4,h5,h6,
    input,
    button,
    select,
    textarea,
    .navbar-search .search-query {
      font-family: Georgia, "Times New Roman", Times, serif;
      color: rgb(74, 170, 165);
      font-weight: bold;
    }

  p, lead, 
  .nav-link,
  .dropdown-item {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
  }

  h2 {
    font-size: 20px;
  }

  .img-thumbnail {
    border:none;
  }

.jumbotron {
  background: #fff;
  margin-top:25px;
}

.navbar-brand {
  background: rgb(74, 170, 165);
  position:absolute;
  padding: 20px;

.navbar {
  width:100%;
}
.navbar-collapse {
  position:absolute;
  bottom:0px;
  right:20px;
}

.caption{
  text-align: center;
}
  
